<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Metro CSS
        link(rel="stylesheet", href="index.css")
    body
        #container
          #col1.public
            //- Action buttons
            #lMenu
              .icon.yellow
              .icon.green
              .icon.purple

            //- Programs
            #rMenu
              .menu Menu 1
              .menu Menu 2
              .menu Menu 3

          //- Metro start page
          #col2.public
            .boxOneOne.yellow.down-slide-up
              .boxText.cb Hover on it!
            .boxOneTwo.green
              .boxText Louem ipsum
            .boxTwoTwo.green
              .boxText.bigBoxText Louem ipsum
            .boxOneOne.purple
              .boxText Louem ipsum
            .boxTwoTwo.green
              .boxText.bigBoxText Louem ipsum
            .boxOneOne.yellow
              .boxText.cb Louem ipsum
            .boxOneOne.yellow
              .boxText.cb Louem ipsum